body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: purple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {
  display: flex;
  flex-direction: column;
}
/** headers**/
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  height: 60px;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 5px;
  background-color: white;
}
.logo img {
  height: 60px;
  width: 60px;
}
.heading-name {
  text-align: center;
}
.heading-name span {
  font-size: 1.6rem;
  font-family: cursive;
  font-weight: 90;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list-div {
  margin-left: 5px;
  padding: 3px;
}
.header-list-div:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
  font-size: larger;
}
.header-list-div span {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 25px;
}
.user {
  margin-left: 8px;
}
.user img {
  height: 50px;
  width: 50px;
}
/** body**/

.content-body {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  background-color: purple;
}

.left-div {
  width: 40%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
}
.left-div .list {
  padding: 5px;
  border: 1px solid black;
}
.left-div .list .list-item-left {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 5px;
}
.list-item-left:nth-child(even) {
  background-color: white;
}
.list-item-left:nth-child(even) .list-item-value {
  background-color: white;
}

.list-item-left:nth-child(odd) {
  background-color: #f1f1f1;
}

.list-item-left:nth-child(odd) .list-item-value {
  background-color: #f1f1f1;
}
header {
  font-size: 1.3rem;
  font-family: cursive;
  font-weight: 90;
}

.list-item-content {
  padding: 2px;
  margin: 0px 2px 2.5px 0px;
}
.list-item-left {
  margin-top: 8px;
}
.list-item-value {
  list-style: none;
  margin-top: 5px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  height: 25px;
  width: 25px;
}
input[type='checkbox']:hover {
  height: 28px;
  width: 28px;
  cursor: pointer;
}
/* .list-item-value:hover {
  
} */

.list-item-value label {
  margin-left: 10px;
  font-size: 1.2rem;
  word-spacing: normal;
}

/**right side**/
.right-div {
  width: 40%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
}
.no-value {
  text-align: center;
  padding-top: 25px;
}
.no-value span {
  font-size: 1.8rem;
  font-family: cursive;
  font-weight: 90;
  word-spacing: 15px;
}
.list-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-right-side .list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-item-value-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style: none;
  border: 1px solid black;
  padding-left: 5px;
  background-color: #f1f1f1;
  align-items: center;
  border-radius: 8px;
}
.list-item-value-right .content {
  font-size: 1.3rem;
  word-spacing: 15px;
  font-weight: normal;
}
.img-container {
  margin-right: 20px;
}
.img-container:hover {
  cursor: pointer;
}
